body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white; /* White text */
    background-color: black; /* Solid black background */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Minimum height to ensure the content is centered vertically */
    text-align: center; /* Center text */
    padding-top: 20px; /* Add some padding at the top */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #333; /* Darker background for the container */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #800080; /* Purple border */
}

h1,
h2 {
    color: #800080; /* Purple text for headings */
}

.self-portrait-frame {
    display: flex;
    justify-content: center;
    margin: 20px auto; /* Centered under the header */
    border: 2px solid #800080; /* Purple border */
    border-radius: 50%; /* Circular frame */
    padding: 5px;
    width: 110px; /* Adjust the size as needed */
    height: 110px; /* Adjust the size as needed */
    background-color: #333; /* Match container background */
}

.self-portrait {
    border-radius: 50%; /* Circular portrait */
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    
}

.header {
    text-align: center;
}

.header h1 {
    margin: 10px 0;
}

.contact {
    margin: 10px 0;
    font-size: 14px;
}

.contact a {
    color: #800080; /* Purple text for links */
    text-decoration: none;
}

.section {
    margin: 20px 0;
}

.section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #800080; /* Purple border for headings */
    padding-bottom: 5px;
}

.item {
    margin-bottom: 15px;
}

.item h3 {
    margin: 0;
    font-size: 18px;
    color: #d4d4d4; /* Lighter gray for subheadings */
}

.item p {
    margin: 5px 0;
    font-size: 14px;
    color: #d4d4d4; /* Lighter gray for paragraph text */
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills ul li {
    display: inline-block;
    background: #800080; /* Purple background */
    color: white; /* White text */
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 4px;
}

.social__btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #800080; /* Purple background for button */
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    line-height: 50px; /* Center icon vertically */
    transition: all 0.3s ease-out;
}

.social__btn:hover {
    background-color: #4b0082; /* Darker purple on hover */
}





